<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>    星座特征

    精力旺盛、活力充沛的星座。性格与爱情多数“横冲直撞”，但纯真的个性里没有杀伤力，所以不用太担心。白羊座是十二星座中的第一个星座，代表着初生的原始灵魂和感觉。基本上，这个星座出生的人，可以视他们为一个永远具备赤子之心的孩子，无论他的年龄是多少！他们充满了强烈的好奇心、坚强的意志力，不服输和冒险犯难、创新求变的精神；往往将第一视为理所当然，不喜欢落在别人的后面。当他们面对竞争压力时，战斗力十足而且洋溢着热情活力，是行动派的人物。

    自我意识和主观意识很强，充满自信而且固执；不会等待机会从天而降，而会积极的争取或制造，无畏艰难和困苦。虽然有时会显得冲动，但基本上还是会保持理智和果决，是个适合面对竞争压力、热情且永远天真未泯的人。

    性格代表词语：我要

    守护星：火星（象征能量与精力）

    守护神：希腊－阿瑞斯　罗马－马斯

    白羊座的符号与象征意义

    可解释成白羊的角或白羊的头部，象征着旺盛的精力，勇往直前的个性，善用脑子、积极、活泼、自我、直接、喜欢新的事物。而古代阿拉伯人更将它解释为：开拓原始森林，镰刀也似的角。

    星座爱情

    十二星座之首的白羊座，代表最原始的灵魂与感觉，他们通常像孩子般的活力充沛，富开创精神，总渴望尝试新事物，很少怀疑自己是否是个“卤肉脚”；而且他们会很快下判断，确定后不犹豫也不拐弯抹角地冲！冲！冲！行动不打折，神经却很大条。

    白羊座的爱很直接，属于快速达阵式的，不太需要培养情绪，只要有诱因，也不太在乎对方的情绪反应。不过他们爱的单纯，不需猜测，也不拖泥带水！想要挑战白羊座，必须让他时时有新鲜感；还要懂得欣赏他的“坦白”，最重要的是——你得像个母亲给他赞美、糖果、玩具和真诚付出。一样也不能少！

    星座互动

    最欣赏的星座－狮子座

    最信任的星座－巨蟹座

    最佳学习对象－天秤座

    最佳工作搭档－金牛座

    最容易被影响星座－摩羯座

    100%协调星座－狮子座、射手座

    90%协调星座－双子座、水瓶座

    80%协调星座－白羊座

    对立星座－天秤座

    同类型（火象）星座－白羊座、狮子座、射手座

    最易掌握的星座－金牛座、巨蟹座、天蝎座、水瓶座

    最需注意的星座－双子座、处女座、摩羯座、双鱼座</string>
	<string>    星座特征

    慢条斯理的星座。凡事总是考虑后再过滤，属于大器晚成型，情思也比较晚开。但他们有超人的稳定性，一旦下赌注，就有把握赢。

    金牛座是黄道的第二个星座，是“土象星座”的第一个星座，故也称“土象的婴孩”。如同这个名称所示，他是一只不折不扣的“牛”；而且是一头有“金”（物欲）特性，占有欲很强的牛。

    金牛座的人似乎天生就有忧郁和压抑的性格。当这些累积到顶点时，就会如同火山一般的爆开。他们在十二星座中算是工作最勤勉，刻苦耐劳、坚忍不拔的；耐心、耐力、韧性是其特性。他们相信拥有爱情、美丽与富有的喜悦，是生命存在的证明，也是他信仰的真理，为着这个目的；他们会选择最安全、确实的途径（通常是长期的酝酿和深思熟虑的结论），一旦下定决心，没有人可以改变它。

    他们忠诚、真心、善解人意、实际、不浮夸、率真、负责，凡事讲求规则及合理性。喜欢新的理念并会花时间去接触、证明，是个自我要求完美的人；同时他们对物质和美的生产力方面，也是超人一等。在艺术创作的领域中，不是艺术家就是优秀的鉴赏者。

    性格代表词语：我有

    守护星：金星（象征爱与美的结合）

    守护神：希腊－阿弗萝蒂　罗马－维纳斯

    金牛座的符号与象征意义

    代表着牛头、牛嘴及胡须，象征着稳重、坚定的信念，不为外力所动的耐力与持久力。他们的行动缓慢、温和，外柔内刚的近乎于顽固。另外，嘴（口）暗示着言语、味觉、触觉的发达。“胡须”则暗示艺术的基础——（味、嗅、触、视、听）五觉优越。

    星座爱情

    金牛座的爱属于日久生情型，一见钟情是几乎不可能的事，因为他们凡事都需要很长的时间去酝酿。通常他们的对象就是在他们周遭的人，因为他们很容易“习惯”，对人对事都是如此。他们的爱看似平淡，不愠不火，实则是能量超强的火山。

    他们是性感也敏感的，虽然他们天生成熟稳重而且忠实，但他们却是凭感觉来做为判断的原动力。所以，对待他们要很小心，要有长期作战的准备，才不会把他吓跑！

    星座互动

    最欣赏的星座－处女座

    最信任的星座－狮子座

    最佳学习对象－天蝎座

    最佳工作搭档－双子座

    最容易被影响星座－水瓶座

    100%协调星座－处女座、摩羯座

    90%协调星座－巨蟹座、双鱼座

    80%协调星座－金牛座

    对立星座－天蝎座

    同类型（土象）星座－金牛座、处女座、摩羯座

    最易掌握的星座－双子座、狮子座、射手座、双鱼座

    最需注意的星座－巨蟹座、天秤座、水瓶座、白羊座</string>
	<string>    星座特征

    变化速度快如风的星座。双子的双重性格常搞的别人和自己头痛万分，对于事业与爱情，如果肯多花点心思经营，应该会是很好的，但他们实在是太机灵了。

    基本上，双子座人的意志一直都是一体两面的——积极与消极，动与静、明与暗，相互消长，共荣共存的。通常很多才多艺，也可同时处理很多事情，有些则会表现出明显的两种或多种人格，这种多变的特性，往往令人难以捉摸。他们相当具有灵性、聪明、心智活跃敏锐，喜欢忙碌和追求新的概念及作事的方法，有活力、口才一流、活力充沛、胸怀大志、人缘很好，并且都有语言天份。对事物的思考很快，改变主意也比一般人快。由于水星的影响，使双子座的人通常无法控制自己的思考力，很容易导致精神衰弱。

    双子座有着双倍于别人的力量、思考力，却也需要比别人多一倍的时间去恢复。所以，双子座是一个善良与邪恶，快乐与忧郁，温柔与残暴兼具的复杂星座。

    性格代表词语：我变

    守护星：水星（象征心灵的交流）

    守护神：希腊－汉密斯　罗马－墨格利

    双子座的符号与象征意义

    可以解释成罗马数字的2（Ⅱ），即两个人——“一对勾肩搭背的双胞胎，分享着同样的想法，站在同样的立场，但无论在精神和肉体上，都是属于双重的”，即双重的性格及双重的行为。

    符号上端的横线代表着心智上的联络，符号下端的横线代表两个人对客观环境的共识。

    星座爱情

    双子座的人，大多是聪明伶俐、才思敏捷、善交际、口才好、人缘也好的人；很容易和异性搭起一座桥，但是如果您真的想和他天长地久，您必须聪明的可以。定力和耐力，一样也不可少，否则您可能会追不上。

    他们喜欢爱与被爱的感觉，脑袋上彷佛装有两根天线，一个接一个放；所以您必须花费双倍的力量。否则以他的速度和虎头蛇尾的天性，你们之间的感情，可能很快就被冲淡了！

    星座互动

    最欣赏的星座－天秤座

    最信任的星座－处女座

    最佳学习对象－射手座

    最佳工作搭档－巨蟹座

    最容易被影响星座－双鱼座

    100%协调星座－天秤座、水瓶座

    90%协调星座－狮子座、白羊座

    80%协调星座－双子座

    对立星座－射手座

    同类型（风象）星座－双子座、天秤座、水瓶座

    最易掌握的星座－巨蟹座、处女座、摩羯座、白羊座

    最需注意的星座－狮子座、天蝎座、双鱼座、金牛座</string>
	<string>    星座特征

    非常需要爱与安定的星座。爱猜疑的个性，使他们在人生旅途上处处显得缺乏安全感。但是带着母爱光辉的巨蟹，为了所爱倒是心甘情愿的付出。

    巨蟹座的人天生具有旺盛的精力和敏锐的感觉，道德意识很强烈，对欲望的追求也总能适度的停止。有精辟的洞察能力，自尊心也很强，同时也生性慷慨、感情丰富，乐意帮助有需要的人，并喜欢被需要与被保护的感觉。大部份巨蟹座的人都比较内向、羞怯，虽然他们常用一种很表面的夸张方式来表达，但基本上他们是缺乏自信的，也不太能适应新的环境。虽然对新的事物都很感兴趣，但真实却是很传统、恋旧的，似乎看来有些双重个性；如果换一个角度来看，他们只是对情绪的感受力特别强吧！

    巨蟹座是十二星座中最具有母性的星座，男性亦然。和善、体贴、宽容不记仇，对家人与好朋友非常忠诚。记忆力很好，求知欲很强，顺从性强，想象力也极丰富。

    他们的守护星是月亮，所以只要观察它就可揣测出他们的心情变化；他们喜欢探索别人的秘密，却把自己隐藏的很好，并且从不放弃他所要的东西。

    性格代表词语：我觉得

    守护星：月亮（象征情绪和感觉）

    守护神：希腊－阿特密斯　罗马－戴安娜

    巨蟹座的符号与象征意义

    可以解释成螃蟹的两对大钳子，或是女性的胸部（一种天生的母性）。象征着善于滋养别人及保卫别人或自己。它有着很坚强的躯壳，但是它的内在都是纤细、敏感而且柔弱的。

    星座爱情

    蟹子是典型女性气质星座，感情丰富又敏感，虽然他们总是装作坚强，一副不在乎的模样。尤其受到月亮影响，情绪变化让人无法理解。他们会如慈母般照顾对方，同样也需要情人呵护、疼爱的行动与保证。否则蟹子们很容易被“诱拐”出走。

    巨蟹经常表现得很吊诡，缺乏安全感；所以他们需要一个安全温暖的窝，和一双坚强的臂膀，还必须让他们有被爱的感觉，切记哦！要他们有感觉才行！

    星座互动

    最欣赏的星座－天蝎座

    最信任的星座－天秤座

    最佳学习对象－摩羯座

    最佳工作搭档－狮子座

    最容易被影响星座－白羊座

    100%协调星座－天蝎座、双鱼座

    90%协调星座－处女座、金牛座

    80%协调星座－巨蟹座

    对立星座－摩羯座

    同类型（水象）星座－巨蟹座、天蝎座、双鱼座

    最易掌握的星座－狮子座、天秤座、水瓶座、金牛座

    最需注意的星座－处女座、射手座、白羊座、双子座</string>
	<string>    星座特征

    讲究气派华丽的星座。狮子是森林之王，理所当然喜欢呼朋引伴，有些耐不住寂寞。他们有冲劲，虽然粗枝大叶，但为人讲义气，也蛮有人缘。

    在十二星座中，狮子座是最具有权威感与支配能力的星座。通常有一种贵族气息或是王者风范。受人尊重，做事相当独立，知道如何运用能力和权术以达到目的。

    本质是阳刚、专制、具有太阳般的活力、宽宏大量、乐观、海派、光明磊落、不拘小节、心胸开阔。不过也会有顽固、傲慢、独裁的一面。同时，他们天生怀抱着崇高的理想，能够全力以赴、发挥旺盛的生命力为周遭的人、为弱者或正义而战。对弱者有慈悲心及同情心，对自己很有自信，擅长组织事务，喜欢有秩序；能够发挥创造的才华，使成果具有建设性、原创性，是个行动派。

    有时也相当浪漫，喜欢美丽的事并爱炫耀、豪华及被人围绕与赞美。狮子座的人热爱生命、好享乐、勇敢、坚持原则及理念。个性温暖、友善、体贴、外向、对人慷慨大方，很容易交朋友，人缘当然也很不错。

    性格代表词语：我决定

    守护星：太阳（象征热情与活力）

    守护神：希腊－阿波罗　罗马－阿波罗

    狮子座的符号与象征意义

    可以解释成万兽之王“狮子”耀武扬威的鬃毛或那有着夸耀作用的尾巴，象征着华丽辉煌的气质和好大喜功的个性；而这符号看来也像是巨蟹座的延长，但却也表示着外放的能量及单一性的象征。

    星座爱情

    狮子座的人相当自信，甚至有的外表看来很稚气，仍很自负。对爱情的态度也如此。他们喜欢身处爱中，霸气地掌握人事，朋友多、很阿莎力，通常是狮子的评语。你若爱上狮族，就得先接受这事实。

    另外，他们外表虽总像个大男人或大女人般保护着自己所“拥有”的权利，但相对在内心里，却孤独脆弱如猫咪，很容易受伤的！不要被他乐观自负的态度所骗；他可能等你离开后，就赶紧找地方偷偷舔伤口，很惨的！

    星座互动

    最欣赏的星座－射手座

    最信任的星座－天蝎座

    最佳学习对象－水瓶座

    最佳工作搭档－处女座

    最容易被影响星座－金牛座

    100%协调星座－射手座、白羊座

    90%协调星座－天秤座、双子座

    80%协调星座－狮子座

    对立星座－水瓶座

    同类型（火象）星座－狮子座、射手座、白羊座

    最易掌握的星座－处女座、天蝎座、双鱼座、双子座

    最需注意的星座－天秤座、摩羯座、金牛座、巨蟹座</string>
	<string>    星座特征

    有点挑剔又追求完美的星座。缺乏信心的个性，常在潜意识里责怪自己不够美好；虽然难免会使心情沉重，但天生的优点就是放得开，不会就此一蹶不振。

    处女座的特色是有丰富的知性，做事一丝不苟，有旺盛的批判精神（那是因为他们总希望世事能和他们的主观标准相同），是个完美主义者，极度的厌恶虚伪与不正当的事。无论年纪大小，都保有一颗赤子之心，充满了对过去的回忆及对未来的梦想。通常他们也很实际，总是可以使爱幻想和实际的性格共存且并荣。

    做事周到、细心、谨慎而有条理，并非常理性，甚至冷酷。有特殊的评论能力，喜欢把事情一点一点的分析、批判。强调完整性，不喜欢半途而废；对任何事都有一套详细的规划，然后一步步的实施并完全掌握。做什么事都很投入，而且好学、好奇、求知欲旺盛。他们对自己的要求很严格，从不妥协、让步，是个优秀的幕僚人才及工作狂。

    外表安静沉默，对外力的冲突，总是采取逃避的方式，那是因为他们天生较内向、胆怯和孤独的缘故；但只要自己能够确定时，便会变得比较大胆。

    性格代表字汇：我分析

    守护星：水星（象征知性与工作）

    守护神：希腊－汉密斯　罗马－墨格利

    处女座的符号与象征意义

    这个有点神秘的符号，各方的解释均不相同：有的说是圣母玛丽亚的“M”（MARY VIRGIN）；或说是指这个星座的守护星——“水星”（MERCURY）。无论如何，它尾端的交叉是象征着讲求实际、脚踏实地和自我压抑的性格。

    星座爱情

    处女座的人看来大多温文尔雅，且有洁癖（可能表现在精神方面）。处女座的爱情藏在内心深处，一旦你通过考验，他决定付出时，压抑的情感都将爆发出来；他会忽然变得积极大胆，那时只有应不应该，而不会考虑委不委屈，也没有任何条件。

    所以，能被处女座选中的人是很幸福的，只要你是真的诚实、知性、负责；那么即使处女座的要求很高，那也都是正面的提醒。要知道处女座的人宁愿牺牲自己，也不会去勉强所爱的人！

    星座互动

    最欣赏的星座－摩羯座

    最信任的星座－射手座

    最佳学习对象－双鱼座

    最佳工作搭档－天秤座

    最容易被影响星座－双子座

    100%协调星座－摩羯座、金牛座

    90%协调星座－天蝎座、巨蟹座

    80%协调星座－处女座

    对立星座－双鱼座

    同类型（土象）星座－处女座、摩羯座、金牛座

    最易掌握的星座－天秤座、射手座、白羊座、巨蟹座

    最需注意的星座－天蝎座、水瓶座、双子座、狮子座</string>
	<string>    星座特征

    爱美又怕空虚的星座。凭着天生的外交本领，周旋在各色人物之间；但有时也因为太顾虑面面俱到，而搞的自己吃力不讨好，脑筋常在那儿转来转去，当心神经衰弱。

    天秤座的人爱好美与和谐，也相当仁慈并富有同情心，天性善良温和、体贴、沉着。由于受到金星的影响（这点和金牛座相同。它掌管的是爱、美、婚姻、金钱的丰盛收成），有着优秀的理解能力和艺术鉴赏力，但往往会把任何事物都当做艺术和游戏，以这一体两面的方式来表现。

    天秤座也是俊男美女最多的一个星座，也具有创作的天份，人缘及口才都很好。他们看待事物较客观，常为人设身处地着想，通常也较外向，感情丰富，视爱情为唯一的一切。属于人群中的人，但有时也会显得多愁善感，但这也属于他们的魅力之一。同时他们也是最能保守秘密的人，就像他们可以把心中澎湃的热情隐藏的很好一样。

    天秤座的人天生具有理想主义和现实主义，性格极端矛盾、交杂反复；他们是和平的使者也是战士，亦是个兼具感性、公平公正及贵族气息的人。

    性格代表词汇：我想

    守护星：金星（象征爱与美的结合）

    守护神：希腊－阿弗萝蒂　罗马－维纳斯

    天秤座的符号与象征意义

    很明显的可看出是一个以“秤”为中心部位的图案，亦有人解释为海平面上的红日（可能是日出，亦有可能是日落）；无论如何，它象征着一种均衡和公正的中庸点（例如孔子所称的中庸，即是天秤座最佳的诠释，而孔子也是天平座的人）。

    星座爱情

    天秤座的人，喜欢人群，不爱孤单；终生都追求着心灵的归属，一个永远的避风港。只是他们容易把简单的事正面看又反面看，愈看愈复杂；对爱情也是如此，表面看来虽温和有人缘，跟人相处大方坦然，但是心中的天平却时时在掂斤称两，常使人有忽冷忽热之感。其实他们的挣扎是在考虑，在找有力证据支持，以求慎重；一旦他确定，就会毫不犹豫奉行到底。只不过要想得到他们的爱，必须很有耐心，别被模棱两可给吓跑了！

    星座互动

    最欣赏的星座－水瓶座

    最信任的星座－摩羯座

    最佳学习对象－白羊座

    最佳工作搭档－天蝎座

    最容易被影响星座－巨蟹座

    100%协调星座－水瓶座、双子座

    90%协调星座－射手座、狮子座

    80%协调星座－天秤座

    对立星座－白羊座

    同类型（风象）星座－天秤座、水瓶座、双子座

    最易掌握的星座－天蝎座、摩羯座、金牛座、狮子座

    最需注意的星座－射手座、双鱼座、巨蟹座、处女座</string>
	<string>    星座特征

    神秘诡谲、令人费疑猜的星座。他们可以很执着，也可以很破坏；在爱情的国度里黑白分明，没有灰色地带。他们对于自己的目标相当清楚，一旦确立就往前冲。

    天蝎座的人有着强烈的第六感、神秘的探视能力及吸引力，做事常凭直觉；虽然有着敏锐的观察力，但往往仍靠感觉来决定一切。

    天蝎座个性强悍而不妥协，也非常好胜，这是一种自我要求的自我超越，以不断填补内心深处的欲望。也由于如此，蝎族的人在心中总订有一个目标，非常有毅力，以不屈不挠的斗志和战斗力，深思熟虑的朝目标前进。也由于是水象星座的缘故，在情感上亦属多愁善感的敏锐型，但却以自我为中心，对别人的观点亦完全不予理会。通常他们是深情而且多情的，虽然表面上看起来很平静、温文儒雅、沉默寡言，但内心却是波涛汹涌。他们在决定行动时会表现的大胆积极，属于敢爱敢恨的类型。

    总之，天蝎座是一个有强烈责任感、韧性强、有概念、会组织（条理化）、意志力强、支配欲强烈，对于生命的奥秘有独特见解的本能，并且永远有着充沛精力的微妙复杂——“混合体”。

    性格代表词语：我渴望

    守护星：冥王星（象征转变）

    守护神：希腊－普鲁特　罗马－黑底斯

    天蝎座的符号与象征意义

    对于这个十二星座中最神秘的星座，它的符号亦有各样的解释及说明，尤其是它的尾部，有的说他是男性的象征及符号；有的说是蝎子的刺；有的说是盘在树枝上的蛇（最早在埃及，是以这做为天蝎座的符号）等；无论如何，这个星座的人永远像被层神秘面纱所遮掩住，不但使别人无法看透，而且还可以散发出不可抗拒的魅力。

    星座爱情

    天蝎座的感情爱恨分明，非但爱一个人要爱到底，也希望对方给予相同待遇。他们虽具独特的魅力，但他超级的占有欲也蛮吓人的。

    天蝎的神秘气质与生俱来，他们的嘴巴不太透露讯息，但是眼睛可在细细观察，蝎子将既定的目标视为生命中一部份，专情且誓死保护，不容人批评；也强悍不妥协地坚持己爱，就算所有的坏话他都听进去了，他还是要等到战斗后亲见失败才肯死心。若伤了他们的心，“不是同志，就是敌人”般的爱恨分明，绝没有解释的余地。

    星座互动

    最欣赏的星座－双鱼座

    最信任的星座－水瓶座

    最佳学习对象－金牛座

    最佳工作搭档－射手座

    最容易被影响星座－狮子座

    100%协调星座－双鱼座、巨蟹座

    90%协调星座－摩羯座、处女座

    80%协调星座－天蝎座

    对立星座－金牛座

    同类型（水象）星座－天蝎座、双鱼座、巨蟹座

    最易掌握的星座－射手座、水瓶座、双子座、处女座

    最需注意的星座－摩羯座、白羊座、狮子座、天秤座</string>
	<string>    星座特征

    自由浪漫也滥情的星座。不爱受约束的个性使他们很怕被捆绑，多情的天性也使他们四处寻求猎物；性情天真，常会伤了人也不自觉，爱他们就由他们去吧！

    射手座的人崇尚自由、无拘无束及追求速度的感觉，生性乐观、热情，是个享乐主义派。射手座的守护星是希腊神话中的宙斯－宇宙的主宰和全知全能的众神之王。所以是个神圣的完美主义者，有阳刚的气息、宽大体贴的精神，重视公理与正义的伸张。

    他们幽默、刚直率真、对人生的看法富含哲学性，也希望能将自身所散发的火热生命力及快感，感染到别人，所以人缘通常都很好。他们外向、健谈、喜欢新的经验与尝试，尤其是运动及旅行。是个永远无法被束缚、不肯妥协、同时又具备人性与野性、精力充沛且活动力强，有着远大的理想，任何时地都不会放弃希望和理想。他们始终在追求一个能完全属于自己的生活环境，但可能是因他们有着豁达的人生观，所以有时常会乐观得太过~~“一厢情愿”了。

    性格代表词语：我追求

    守护星：木星（象征狂热与力量）

    守护神：希腊－宙斯　罗马－朱彼得

    射手座符号与象征意义

    在所有的星座符号之中，射手座可能是最不统一的了；有的箭头朝右，有的朝左。 和这符号一样，有的人也称它为天箭、人马、射手，无论如何，重点都是这支自由在天空飞翔的箭，是一种理想或说是一种解放的感觉，或者说是热情奔放、速度，似乎都可以解释的通。

    星座爱情

    射手座基本上是个半人半兽的怪物，手里有张大弓，也是个潇洒且带侵略性的猎人，到处寻找猎物，只要是好玩、好吃，能刺激他的玩意，他的箭会射的又快又急。所以他们总难安顿下来，像支点了火的箭，射到那里就烧到那里，来得急也去得快。每当他们感觉到被束缚的压力，他们逃得比谁都快，是十二星座中跑得最快的。

    他们的自私来自对自由的向往，尤其自私与自由经常密不可分。或许他可以暂时停泊，因为你总能引起射手的好奇与冒险心，但也可能是抓你当成浮木而已。

    星座互动

    最欣赏的星座－白羊座

    最信任的星座－双鱼座

    最佳学习对象－双子座

    最佳工作搭档－摩羯座

    最容易被影响星座－处女座

    100%协调星座－白羊座、狮子座

    90%协调星座－水瓶座、天秤座

    80%协调星座－射手座

    对立星座－双子座

    同类型（火象）星座－射手座、白羊座、狮子座

    最易掌握的星座－摩羯座、双鱼座、巨蟹座、天秤座

    最需注意的星座－水瓶座、金牛座、处女座、天蝎座</string>
	<string>    星座特征

    严谨刻板、稳重老成的星座。虽然一向给人呆板的印象，但是呆板的人普遍说来都不太耍花样；不管是在事业或爱情上，他们也都以这份特殊气质获胜！

    摩羯座就像是只走在高山绝壁的山羊一样稳健踏实，会小心翼翼渡过困厄的处境。通常都很健壮，有过人的耐力、意志坚决、有时间观念、有责任感、重视权威和名声，对领导统御很有一套，自成一格，另外组织能力也不错。

    和其它土象星座一样，是属于较内向，略带忧郁、内省、孤独、保守、怀旧、消极、没有安全感，也欠缺幽默感，常会装出高高在上或是严厉的姿态，以掩饰自己内在的脆弱。

    通常他们也绝少是天才型，但是却心怀大志，经过重重的历炼，到中年期才会渐渐拥有声名和成功。一方面是因为他们有安定的向上心和坚强的毅力，加上擅长知识和经验的累积，如此才一点一滴的达成目标的。虽然有时为了这成功的目标，也会用一些残忍无情的策略，但摩羯座还算是有正义感的。他们擅于外交、好动、活力充沛、目标确定；重视现实利益及物质保障，具有宗教或神秘学上的理解能力及人文科学的逻辑概念，是属于大器晚成的类型。

    性格代表词语：我作

    守护星：土星（象征绝对的理性）

    守护神：希腊－克罗诺斯　罗马－萨登

    摩羯座的符号与象征意义

    在十二星座中，摩羯座和射手座同属“非常态”的类型，射手是人头马，而摩羯座则是只有在希腊神话中才有的“海羊”——上半身是羊，下半身是蜷曲尾巴的鱼的变种山羊。所以和其它双重组合的星座——如二条鱼的双鱼、两个秤铊的天秤、半人半兽的射手一样，是复杂、矛盾的。

    这符号前半的V表示山羊头，后半则是无法摆脱相连的鱼；象征着有山羊的毅力、刻苦耐劳的朝向更高层次，而内在的非理性情绪，也许是哲学性或潜在的感情部份，则要把另一半给留住。

    星座爱情

    摩羯座擅长伪装，即使遇上心仪的对象，也会严格控制浪漫的幻想力，以防感情泛滥。他们也很实际，喜欢权威、保障和地位，所以摩羯座的爱情中，常会不自觉的将这些条件考虑进去。爱情和面包对他们，是同样重要的，而且要在确定无误时，才会坦然面对。

    他们相信稳固的婚姻与健全的家庭，是成功的必要条件，也是责任和自我的要求。而他们对自我要求通常很高，所以对别人也是。

    星座互动

    最欣赏的星座－金牛座

    最信任的星座－白羊座

    最佳学习对象－巨蟹座

    最佳工作搭档－水瓶座

    最容易被影响星座－天秤座

    100%协调星座－金牛座、处女座

    90%协调星座－双鱼座、天蝎座

    80%协调星座－摩羯座

    对立星座－巨蟹座

    同类型（土象）星座－摩羯座、金牛座、处女座

    最易掌握的星座－水瓶座、白羊座、狮子座、天蝎座

    最需注意的星座－双鱼座、双子座、天秤座、射手座</string>
	<string>    星座特征

    思想超前、理性自重的星座。一样的不爱受约束、一样的博爱，但他们还是不同于射手座；他们较着重于精神层次的提升，是很好的启发对象。

    水瓶座常被称为“天才星座”或“未来星座”。因为它的守护星是天王星，而希腊神话中上通天文、下知地理，并有预知未来能力的智能大神——乌拉诺斯，是它的守护神。所以他们具有前瞻性、有独创性、聪慧、富理性，喜欢追求新的事物及生活方式。

    他们的心胸宽大、爱好和平，主张人人平等、无分贵贱贫富，不但尊重个人自由，也乐于助人、热爱生命，是个典型的理想主义和人道主义者；他们深信世上自有公理，所以常有改革（或革命）的精神。

    另外，他们也很重视理论和知识，有优秀的推理力和创造力，客观、冷静，善于思考，思想博爱，讲求科学、逻辑和概念，价值观很强。是一个对超能力、超自然现象会积极证明，人缘及辩才均佳，忠于自己信念，又令人难以捉摸的星座。水瓶座虽是个理想主义者，但他们一旦碰上爱情，就会变的非常实际。

    性格代表词语：我了解

    守护星：天王星（象征智能及变量）

    守护神：希腊－乌拉诺斯　罗马－乌拉诺斯

    水瓶座的符号与象征意义

    虽然水瓶座（也可称宝瓶座）指的是重生之水和智能的泉源之意，但其符号代表的却是电波而非水波，意味着电波的接和收；正和负的两极或两端，和所有重叠的符号（如二个人的双子、两条鱼的双鱼）所代表的星座一样，这个星座也有两种特质，和电波相同，有时相吸，有时却相斥。

    星座爱情

    水瓶座是个人道主义与理想主义者，尊重个人自由和精神式的恋爱，柏拉图的恋情对水瓶座是经常的事。由于他们崇尚自由及友情，所以恋情常从友情开始；不过因为不喜束缚对方，也不会整日腻在一起，常令人分不清究竟是何种关系。

    水瓶习惯私生活保密，不理会外界的批评，处理人际关系也属于理性型；在异性面前还是喜欢保持若即若离的关系。由于他们喜欢把人事物加以搜集比较、去芜存菁，这对爱情来说，相当危险。

    星座互动

    最欣赏的星座－双子座

    最信任的星座－金牛座

    最佳学习对象－狮子座

    最佳工作搭档－双鱼座

    最容易被影响星座－天蝎座

    100%协调星座－双子座、天秤座

    90%协调星座－白羊座、射手座

    80%协调星座－水瓶座

    对立星座－狮子座

    同类型（风象）星座－水瓶座、双子座、天秤座

    最易掌握的星座－双鱼座、金牛座、处女座、射手座

    最需注意的星座－白羊座、巨蟹座、天蝎座、摩羯座</string>
	<string>    星座特征

    多愁敏感，爱作梦、幻想的星座。天生多情，使他们常为情字挣扎，情绪的波动起伏也跟情脱不了关系；他们生性柔弱，很喜欢奉献，也不会随意伤人。

    双鱼座是古老轮回的结束，这种古老轮回后的灵魂，是一种透澈。也许正因如此，他们总深陷在灵和欲之间，退缩在一种自创的梦幻之境里。他们爱作梦，也无时不在幻想，也常将这种情结搬到现实环境中，而显得有些不切实际，但他们是善良的，有绝对舍己助人的牺牲奉献精神；他们是敏感、仁慈、和善、宽厚、与世无争、温柔、多愁善感的纯情主义者，也是十二星座中最“多情”的一个。

    双鱼是个古老复杂的星座，包含了太多的情绪，所以在情绪方面起伏非常的大，矛盾、敏锐的感性、知性、诗情和纤细的触觉，种种冲击之下便产生了无与伦比的艺术天才。例如在我们所研究的古典音乐大之中，双鱼座便是十二星座中最多的。也许，这也是他们另一种沉醉的表现。

    总之这是一个充满神性、魔性、理解力，观察力强却又忧柔寡断、缺乏自信、神经质的（如果是女人则更是泪水做成的，女人中的女人）、自制力不强、又善变的像谜一般的星座。双鱼座的星座象征，正是两只鱼各往相反的方向游，一只向上，一只向下；没有什么比这幅画面，更能正确形容双鱼座的复杂性格了。

    性格代表字汇：我了解

    守护星：海王星（象征高超的幻想力）

    守护神：希腊－波西顿

    双鱼座的符号与象征意义

    象征着被丝带相连系的西鱼和北鱼。由于它是十二星座的最后一个星座，即--包含了十二个星座进化的总合，是古老轮回的结束，所以有着升华透澈的灵，却留有世俗无法割舍的欲；而这种灵与欲牵扯不清的矛盾，使得两条鱼变得像谜一样的复杂。

    星座爱情

    鱼儿的天性浪漫、爱作梦、敏感又和善。总是无私的奉献，并且害怕寂寞和被人忽略。所以他们很容易坠入爱河，每次的恋爱都是全力以赴；也喜欢把爱情融入自创的梦幻格局里，沉溺其中不可自拔。

    鱼儿会愿意将赤裸裸的心灵完全的呈现在爱人的面前，更需要对方毫不保留的鼓励与支持、赞美与宠爱；也深深相信：“只要有爱情，就不怕没面包”。他们未必会在第一次就留给你深刻的印象，但却能因一次又一次的相会，让你坠入他们细密的情网。

    星座互动

    最欣赏的星座－巨蟹座

    最信任的星座－双子座

    最佳学习对象－处女座

    最佳工作搭档－白羊座

    最容易被影响星座－射手座

    100%协调星座－巨蟹座、天蝎座

    90%协调星座－金牛座、摩羯座

    80%协调星座－双鱼座

    对立星座－处女座

    同类型（水象）星座－双鱼座、巨蟹座、天蝎座

    最易掌握的星座－白羊座、双子座、天秤座、摩羯座

    最需注意的星座－金牛座、狮子座、射手座、水瓶座</string>
</array>
</plist>
