<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>白羊座</string>
		<key>icon</key>
		<string>12stars_1</string>
		<key>date</key>
		<string>3.21~4.19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>金牛座</string>
		<key>icon</key>
		<string>12stars_2</string>
		<key>date</key>
		<string>4.20~5.20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双子座</string>
		<key>icon</key>
		<string>12stars_3</string>
		<key>date</key>
		<string>5.21~6.21</string>
	</dict>
	<dict>
		<key>name</key>
		<string>巨蟹座</string>
		<key>icon</key>
		<string>12stars_4</string>
		<key>date</key>
		<string>6.22~7.22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>狮子座</string>
		<key>icon</key>
		<string>12stars_5</string>
		<key>date</key>
		<string>7.23~8.22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>处女座</string>
		<key>icon</key>
		<string>12stars_6</string>
		<key>date</key>
		<string>8.23~9.22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天秤座</string>
		<key>icon</key>
		<string>12stars_7</string>
		<key>date</key>
		<string>9.23~10.23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天蝎座</string>
		<key>icon</key>
		<string>12stars_8</string>
		<key>date</key>
		<string>10.24~11.22</string>
	</dict>
	<dict>
		<key>name</key>
		<string>射手座</string>
		<key>icon</key>
		<string>12stars_9</string>
		<key>date</key>
		<string>11.23~12.21</string>
	</dict>
	<dict>
		<key>name</key>
		<string>摩羯座</string>
		<key>icon</key>
		<string>12stars_10</string>
		<key>date</key>
		<string>12.22~1.19</string>
	</dict>
	<dict>
		<key>name</key>
		<string>水瓶座</string>
		<key>icon</key>
		<string>12stars_11</string>
		<key>date</key>
		<string>1.20~2.18</string>
	</dict>
	<dict>
		<key>name</key>
		<string>双鱼座</string>
		<key>icon</key>
		<string>12stars_12</string>
		<key>date</key>
		<string>2.19~3.20</string>
	</dict>
</array>
</plist>
